* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    color:beige;
}

:root {
    --blue-bg: #160863;
    --purple-bg: #322150;
    --pink-btn-links: #f9004d;
}

/*------------------ Home Section Starts ----------------- */

.home {
    height: 100vh;
    width: 100%;
    background-color: var(--blue-bg)
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;    
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: var(--pink-btn-links);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: var(--pink-btn-links);
    transition: .4s;
}


.content{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;

}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid var(--pink-btn-links);
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: var(--pink-btn-links);
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px; /*to center the button*/
    right: 6px;/*Put inside the first input*/
}

img {
    border-radius: 25%;
    margin-right: 2px;
}

/*------------------ /Home Section Ends ----------------- */






/*----------------- About Section Starts ---------------- */
.about {
    width: 100%;
    height: 105vh;
    padding: 100px 0px;
    background-color: var(--purple-bg);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about img {
    margin-left: 2px;
}

.main {
    width: 1130px;
    max-width: 95%;
}

.about-text {
    width: 550px;
}

.about-text h2 {
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: var(--pink-btn-links);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid var(--pink-btn-links);
    cursor: pointer;
}



/*----------------- About Section Ends ---------------- */





/*------------- Projects Section Starts --------------- */


.projects {
    background-color: var(--blue-bg);
    width: 100%;
    height: 100vh;
    padding: 30px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 350px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5 {
    color: var(--pink-btn-links);
    font-size: 23px;
    margin-bottom: 15px;
}

.pra {
    color: #fcfc;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

.card .button {
    margin-top: 20px;
    background-color: var(--pink-btn-links);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid var(--pink-btn-links);
    cursor: pointer;
}

/*------------- Projects Section Ends --------------- */





/*------------- Contact Me Section Starts --------------- */

.contact-me {
    width: 100%;
    height: 50vh;
    background-color: var(--purple-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: var(--pink-btn-links);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid var(--pink-btn-links);
    cursor: pointer;
}


/*------------- /Contact Me Section Ends --------------- */




/*------------- Footer Starts --------------- */

footer {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: var(--blue-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    height: 45px;
    display: flex;
    align-items: center;
    background: var(--pink-btn-links);
    border-radius: 25%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: var(--pink-btn-links);
    bottom: 35px;
    font-size: 14px;
}

/*------------- /Footer Ends --------------- */